<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>考公知识交流平台-客观题试卷</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<!--替换题库管理的侧边栏-->
<div th:replace="site/admin/question-manager::managerNav"></div>

<!--展示列表，对试卷进行crud-->
<div class="table-responsive" style="margin-left: 18%">
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="5" style="text-align:left ;font-size: 20px">
                <button class="line btn btn-primary btn-sm" onclick="add()">添加试卷</button>&nbsp;&nbsp;&nbsp;
<!--                <button class="line btn btn-primary btn-sm" id="getAllSelectedId">批量删除</button>-->
            </th>
        </tr>
        <tr>
            <th>编号</th>
            <th>所属分类</th>
            <th>试卷名称</th>
            <th>选择题数量</th>
            <th>判断题数量</th>
<!--            <th>开始时间</th>-->
<!--            <th>结束时间</th>-->
            <th>考试时长</th>
            <th>总分</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="map: ${paperDto}">
            <td th:text="${map.paper.id}">1</td>
            <td th:text="${map.categoryName}">广东省考真题</td>
            <td th:text="${map.paper.name}" class="hide-content">
                2023年广东公务员录用考试《行测》题（县级卷）
            </td>
            <td th:text="${map.paper.choiceNum}">100</td>
            <td th:text="${map.paper.tfNum}">100</td>
            <!--            <td th:text="${#dates.format(map.paper.startTime,'yyyy-MM-dd HH:mm:ss')}" class="hide-content">2024-01-01 09:50:10</td>-->
            <!--            <td th:text="${#dates.format(map.paper.endTime,'yyyy-MM-dd HH:mm:ss')}" class="hide-content">2024-01-01 09:50:10</td>-->
            <td><span th:text="${map.paper.duration}">90</span>&nbsp;分钟</td>
            <td th:text="${map.paper.totalScore}">100</td>
            <td>
                <a th:href="@{|/admin/objectPaperDetail/${map.paper.id}|}" style="text-decoration: none;">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: #0aea99">详情</button>
                </a>
                <a th:onclick="|delOne(${map.paper.id})|" style="text-decoration: none;"
                   data-toggle="modal" data-target="#trashModal">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: #ee4e4e">删除</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--分页-->
<nav th:replace="site/admin/subject::pagination"></nav>

<!--添加-->
<div class="modal fade" id="addObjectPaper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="my" style="text-align:center">添加试卷</h4>
            </div>
            <form class="form-horizontal" th:action="@{/admin/addObjectPaper}" method="post">
                <div class="modal-body">

                    <div class="form-group ">
                        <label class="col-sm-2 control-label">试卷名称:</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="name"
                                   placeholder="">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择题数量:</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" max="999" step="1" name="choiceNum" id="choiceNum">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">判断题数量:</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" max="999" step="1" name="tfNum" id="tfNum" value="0">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">答题时长:</label>
                        <div class="col-sm-10" >
                            <input type="number" min="0" max="999" step="1" name="duration" id="duration">&nbsp;&nbsp;分钟
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">总分:</label>
                        <div class="col-sm-10">
                            <input type="number" min="0.00" max="999.99" step="0.01" name="score" id="score" value="100.00">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属分类:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="categoryId" name="categoryId"></select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="addBtn">生成试卷</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/paper.js}"></script>
</body>
</html>