<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>考公知识交流平台-科目管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
</head>
<body>

<!--替换题库管理的侧边栏-->
<div th:replace="site/admin/question-manager::managerNav"></div>

<!--展示列表，对科目进行增删查改-->
<div class="table-responsive" style="margin-left: 18%">
    <table class="table table-striped"  >
        <thead>
        <tr>
            <th colspan="7"><button class="line btn btn-primary btn-sm" type="button" onclick="add()">添加科目</button>
                &nbsp;&nbsp;&nbsp; <button class="line btn btn-primary btn-sm" id="getAllSelectedId" >批量删除</button>
            </th>
        </tr>
        <tr>
            <td ><input type="checkbox" id="allAndNotAll" />全选/反选</td>
            <th>编号</th>
            <th>科目名称</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject: ${subjects}">
            <td><input type="checkbox" name="items" th:id="${subject.id}"/></td>
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.name}"></td>
            <td>
                <a th:onclick="|edit(${subject.id})|" style="text-decoration: none;">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: #3e8f3e">修改</button>
                </a>
                <a th:onclick="|delSubject(${subject.id})|" style="text-decoration: none;">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: red">删除</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 分页 -->
<nav class="mt-5" th:if="${page.rows>0}" th:fragment="pagination" style="margin-left: 18%">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{${page.path}(current=1)}"
               style="background-color: #343A40FF; color:#ffffffff">首页</a>
        </li>
        <li th:class="|page-item ${page.current==1?'disabled':''}|">
            <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}"
               style="background-color: #343A40FF;color:#ffffffff">上一页</a></li>
        <li th:class="|page-item ${i==page.current?'active':''}|"
            th:each="i:${#numbers.sequence(page.from,page.to)}"
            style="background-color: #343A40FF;color:#ffffffff">
            <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}"
               style="background-color: #343A40FF;color:#ebb563">1</a>
        </li>
        <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
            <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}"
               style="background-color: #343A40FF;color:#ffffffff">下一页</a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{${page.path}(current=${page.total})}"
               style="background-color: #343A40FF;color:#ffffffff">末页</a>
        </li>
    </ul>
</nav>

<!--添加对话框-->
<div class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="my" style="text-align:center">添加科目</h4>
            </div>
            <form class="form-horizontal" th:action="@{/admin/addSubject}" method="post">
                <div class="modal-body">

                    <div class="form-group ">
                        <label class="col-sm-2 control-label">科目名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="name"
                                   placeholder="">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="addbut">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--编辑模态框-->
<div class="modal fade" id="editSubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label">编辑</h4>
            </div>
            <form class="form-horizontal" th:action="@{/admin/updateSubject}" method="post">
                <div class="modal-body">
                    <input name="id" id="subjectId1" hidden="hidden"/>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">科目名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="name1"/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="tch_save_btn">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/subject.js}"></script>
</body>
</html>