<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.PaperTfMapper">

    <select id="countByTfId" resultType="int">
        select count(id) from paper_tf
        where tf_id = #{id}
    </select>

</mapper>